*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
header {
  position: relative;
  top: 0;
  left: 0;
  background-color: white;
  height: 38px;
  width: 100%;
  z-index: 101;
}